<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="myapp">
                    <match url="/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>

        <iisnode node_env="production" nodeProcessCommandLine="&quot;C:\Users\Administrator\AppData\Roaming\nvm\v20.10.0\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />

        <httpErrors existingResponse="PassThrough" />
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="32768"/>
            </requestFiltering>
        </security>
    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
            <handlers>
                <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
            </handlers>
        </system.webServer>
    </location>
</configuration>